.personal-data{
    color: white;
}
 .login{
     border-color: white;
     border-radius: 30px;    
     width: auto;
     height: auto;
     padding: 5px;
     border-style: solid;
 }
 .form-container{
    width: 50%; /* Adjust the width as needed */
    margin-left: auto; /* Pushes the form to the right */
    float: right; /* Floats the form to the right */
    padding-right: 50px;
    padding-top: 50px;
    max-width: 500px;
}
.personal-data input[type="email"],
.personal-data input[type="password"] {
    border: 1px solid #ccc; /* Add border */
    border-radius: 10px; /* Add border-radius for rounded corners */
    padding: 10px; /* Add padding */
    margin-bottom: 10px; /* Add margin bottom */
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: transparent; /* Set background color to transparent */
}
.login{
    background-color: yellow;
    border: none;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px 20px;
border-radius: 30px;
margin-right: 30px;
}
.login{
    text-decoration: none; /* Remove the default underline */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}
.login2{
    border-color: white;
    border-radius: 30px;    
    width: auto;
    height: auto;
    padding: 5px;
    border-style: solid;
}
