<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novalink</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    {% block css %}
    {% endblock css %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <script>
      alert("{{ message }}")
    </script>
      {% endfor %}
  {% endif %}
{% endwith %}
    <!--Navbar-->
    <div class="navbar">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/Astro-removebg-preview.png') }}" class="logo">
        </div>
        <h3 id="name">Novalink</h3>
        <div class="spacer"></div>
        <div class="nav-links">
            <h4>Home</h4> 
            <h4>Service</h4>
            <h4>Terms and Conditions</h4>
            <h4>Help</h4>
            <h4><a href="/login">Login</a></h4>
        </div>  
        <h4 class="signup"><a href="/signup">Signup</a></h4>
    </div>
    {% block body %}
{% endblock body %}
</body>
</html>