{% extends 'layout0.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mess.css') }}">
{% endblock css %}
{% block body %}

<main class="main_body">
    <ul>
        <!--  -->
        {% for contact in contacts %}
        <li class="user_li">
            <div class="usr_div">
                <img class="usr_icon" src="{{ url_for('static', filename='images/user.png') }}" alt="User Icon"
                    srcset="">
                <span class="user_name">
                    {{ contact.userID }}
                </span>
            </div>
        </li>
        <hr>
        {% endfor %}
        <!--  -->
    </ul>
    <section class="chat_section">
        <div class="userDisp">
            {% for message in messages %}
            {% if message.sender == session["username"] %}
            <div class="message-box-container right">
                <div class="message_box right">
            {% else %}
            <div class="message-box-container left">
                <div class="message_box left">
            {% endif %}
                    <span>
                        {{ message.message }}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="chat_box">
            <input type="text" name="message" id="message" placeholder="Enter Your Message...">
            <button onclick="snd()" class="snd"><span class="material-symbols-outlined">send</span></button>
        </div>
    </section>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    function snd() {
        message = document.getElementById("message")
        if (message.value != "" || message.value != " ") {
            socket.emit('message', {url:"{{ message_url }}",message:{message_url: "{{ message_url }}", message: message.value, receiver: "{{ receiver }}" , sender: "{{ session['username'] }}"}})
        }
    }
    socket.on('received_message', (json)=>{
        console.log(json)
        console.log("Hello")
        //for (let i = messages - 1; i >= 0; i--) {
        //console.log(original_array[i]);
        //}
    })
</script>

{% endblock %}