{% extends 'layout0.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project_search.css') }}">
{% endblock %}

{% block body %}
<main>
    <!--Topbar-->
    <div class="topbar">
    <!--Search bar-->
    <div class="searchBox">
        
        <input class="searchInput" type="text" name="" placeholder="Search">
        <button class="searchButton" href="#">
               
              
            
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                <g clip-path="url(#clip0_2_17)">
                    <g filter="url(#filter0_d_2_17)">
                        <path d="M23.7953 23.9182L19.0585 19.1814M19.0585 19.1814C19.8188 18.4211 20.4219 17.5185 20.8333 16.5251C21.2448 15.5318 21.4566 14.4671 21.4566 13.3919C21.4566 12.3167 21.2448 11.252 20.8333 10.2587C20.4219 9.2653 19.8188 8.36271 19.0585 7.60242C18.2982 6.84214 17.3956 6.23905 16.4022 5.82759C15.4089 5.41612 14.3442 5.20435 13.269 5.20435C12.1938 5.20435 11.1291 5.41612 10.1358 5.82759C9.1424 6.23905 8.23981 6.84214 7.47953 7.60242C5.94407 9.13789 5.08145 11.2204 5.08145 13.3919C5.08145 15.5634 5.94407 17.6459 7.47953 19.1814C9.01499 20.7168 11.0975 21.5794 13.269 21.5794C15.4405 21.5794 17.523 20.7168 19.0585 19.1814Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges"></path>
                    </g>
                </g>
<defs>
    <filter id="filter0_d_2_17" x="-0.418549" y="3.70435" width="29.7139" height="29.7139" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
  <feOffset dy="4"></feOffset>
  <feGaussianBlur stdDeviation="2"></feGaussianBlur>
  <feComposite in2="hardAlpha" operator="out"></feComposite>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_17"></feBlend>
  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_17" result="shape"></feBlend>
</filter>
<clipPath id="clip0_2_17">
    <rect width="28.0702" height="28.0702" fill="white" transform="translate(0.403503 0.526367)"></rect>
</clipPath>
</defs>
</svg>
</button>
</div>
<h3 class="name1">Project Place</h3>
<!--Filter-->
</div><br>
<!--Flip card-->
<div class="flips">
    <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Cloudspotting on Mars</p>
                <p>By Nasa</p>
        </div>
        <div class="flip-card-back">
            <p class="title1 mar0">Do you ever find yourself gazing up at the blue sky and the tapestries of clouds passing by--sometimes thin and wispy, other times thick and puffy, often in shapes that you could swear are objects you recognize? Have you ever wondered what it would be like to lie down in your astronaut suit on the surface of Mars and look up at clouds in the Martian sky? While no humans have done so yet, we know that clouds are a regular phenomenon in Mars's atmosphere. With the help of telescopes, orbiters, and our rovers' eyes, we've been able to spot them for some time. Clouds are an important area of research on Mars (and on Earth, too) because of their feedback on the climate -- they can reflect incoming sunlight which has a cooling effect and absorb the planet's outgoing infrared radiation which has a warming effect.</p>
            <p class="mar0">Skills required: Knowlegde about mars</p>
            <h4 class="mar0"><a href="/apply" class="apply">Apply here</a></h4>
            
        </div>
    </div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
        <p class="title">Project Title 1</p>
        <p>Hover Me</p>
    </div>
    <div class="flip-card-back">
        <p class="title1 mar0">DETAILS: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum, ut cum aliquam error maxime at aliquid rerum quisquam distinctio amet neque beatae quia iure nesciunt totam odit nulla vitae!</p>
        <p class="mar0">Skills required</p>
        <h4 class="mar0"><a href="/apply" class="apply">Apply here</a></h4>
        
    </div>
</div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
        <p class="title">Project Title 1</p>
        <p>Hover Me</p>
    </div>
    <div class="flip-card-back">
        <p class="title1 mar0">DETAILS: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum, ut cum aliquam error maxime at aliquid rerum quisquam distinctio amet neque beatae quia iure nesciunt totam odit nulla vitae!</p>
        <p class="mar0">Skills required</p>
        <h4 class="mar0"><a href="/apply" class="apply">Apply here</a></h4>
        
    </div>
</div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
        <p class="title">Project Title 1</p>
        <p>Hover Me</p>
    </div>
    <div class="flip-card-back">
        <p class="title1 mar0">DETAILS: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum, ut cum aliquam error maxime at aliquid rerum quisquam distinctio amet neque beatae quia iure nesciunt totam odit nulla vitae!</p>
        <p class="mar0">Skills required</p>
        <h4 class="mar0"><a href="/apply" class="apply">Apply here</a></h4>
        
    </div>
</div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
        <p class="title">Project Title 1</p>
        <p>Hover Me</p>
    </div>
    <div class="flip-card-back">
        <p class="title1 mar0">DETAILS: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum, ut cum aliquam error maxime at aliquid rerum quisquam distinctio amet neque beatae quia iure nesciunt totam odit nulla vitae!</p>
        <p class="mar0">Skills required</p>
        <h4 class="mar0"><a href="/apply" class="apply">Apply here</a></h4>
        
    </div>
</div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
        <p class="title">Project Title 1</p>
        <p>Hover Me</p>
    </div>
    <div class="flip-card-back">
        <p class="title1 mar0">DETAILS: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum, ut cum aliquam error maxime at aliquid rerum quisquam distinctio amet neque beatae quia iure nesciunt totam odit nulla vitae!</p>
        <p class="mar0">Skills required</p>
        <h4 class="mar0"><a href="/apply" class="apply">Apply here</a></h4>
        
    </div>
</div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
        <p class="title">Project Title 1</p>
        <p>Hover Me</p>
    </div>
    <div class="flip-card-back">
        <p class="title1 mar0">DETAILS: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum, ut cum aliquam error maxime at aliquid rerum quisquam distinctio amet neque beatae quia iure nesciunt totam odit nulla vitae!</p>
        <p class="mar0">Skills required</p>
        <h4 class="mar0"><a href="/apply" class="apply">Apply here</a></h4>
        
    </div>
</div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
        <p class="title">Project Title 1</p>
        <p>Hover Me</p>
    </div>
    <div class="flip-card-back">
        <p class="title1 mar0">DETAILS: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum, ut cum aliquam error maxime at aliquid rerum quisquam distinctio amet neque beatae quia iure nesciunt totam odit nulla vitae!</p>
        <p class="mar0">Skills required</p>
        <h4 class="mar0"><a href="/apply" class="apply">Apply here</a></h4>
        
    </div>
</div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
        <p class="title">Project Title 1</p>
        <p>Hover Me</p>
    </div>
    <div class="flip-card-back">
        <p class="title1 mar0">DETAILS: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum, ut cum aliquam error maxime at aliquid rerum quisquam distinctio amet neque beatae quia iure nesciunt totam odit nulla vitae!</p>
        <p class="mar0">Skills required</p>
        <h4 class="mar0"><a href="/apply" class="apply">Apply here</a></h4>
        
    </div>
</div>
</div>
</div>
</main>
{% endblock %}
